*{
	box-sizing: border-box;
	margin: 0px;
	
}
	body{
		font-family: monospace;
	    font-size: 16px;
	    background-color: lavender;
	}

h1{color: firebrick;
	text-align: center;
	font-size: 175%;
}
.box{
	background-color: navy;
	position: relative;
	left:2%;
	float: left;
	border: 1px solid black;
}
p{  color: gold;
	margin-top: 20px;
	padding: 10px;
}
h4{
	position: absolute;
	font-size: 125%;
	background-color: yellow;
	border: 1px solid gold;
	right: -1px;
	top: -1px;
	width: 25%;
	text-align: center;
}
h4#green{
	background-color: darkgreen;
	color: white;
}
h4#pink{
	background-color: red;
	color: white;
}
@media(min-width:992px){
	.col-lg-4{
		width: 30%;
		margin: 1%;
		height: auto;

	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width: 46%;
		margin: 1%;}

	.col-md-6:nth-child(3){
		width: 94%;
	}		
}
@media(max-width: 767px){
	.col-sm-12{
		width: 94%;
		margin: 1%;
	}
}


